<div class="section">
    <div class="container">
        <h2 id="results">Article Results</h2>
        <div id="scraped-articles">
            {{#each articles}}
            {{title}}
            {{/each}}

        </div>
    </div>
</div>