{{!-- <footer>
    <div class="footer-copyright">
        <div class="container-fluid">
            All articles belong to <a href="https://www.buzzfeednews.com/" target="_blank">BuzzFeed News </a>
        </div>
    </div>
</footer> --}}

<footer class="footer">
    <div class="container">
        <div class="content justify-content-center">
            <p>
                <strong>NPR News Scraper</strong> by <a href="https://github.com/Skateboardb/the-best-news">Branford
                    Shaw </a>
            </p>
        </div>
    </div>
</footer>