<div class="jumbotron-fluid header">
    {{!-- <div class="header-box">
        <h1>Check out what's happening on BuzzFeed</h1>
    </div> --}}

    <div class="flex container-fluid">
        <div class="text">
            <h1>
                The articles you want to keep
                <br />

            </h1>
        </div>

    </div>
</div>
{{!-- {{> article}} --}}
<div class="section">
    <div class="container">
        <h2 id="results">Saved Articles</h2>
        <div id="saved-articles">


        </div>
    </div>
</div>

<script src="assets/js/save.js"></script>