<div class="jumbotron-fluid header">
    {{!-- <div class="header-box">
        <h1>Check out what's happening on BuzzFeed</h1>
    </div> --}}

    <div class="flex container-fluid">
        <div class="text">
            <h1>
                The articles you want to keep
                <br />

            </h1>
        </div>

    </div>
</div>
{{!-- {{> article}} --}}
<div class="section">
    <div class="container">
        <h2 id="results">Saved Articles</h2>
        <div id="saved-articles">


        </div>
    </div>
</div>



<div id="comment-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-title"></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{!-- <form class="col-12"> --}}
                <div id="comment-block">
                    <p>Have some thoughts? Share them!</p>
                </div>



                <div>
                    <textarea id="new-comment"></textarea>
                </div>

                <button type="submit" class="btn btn-secondary" id="save-comment"><i class="fas fa-sign-in-alt"></i>
                    Submit</button>

                {{!-- </form> --}}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/save.js"></script>